@import "tailwindcss";

@theme {
  --color-background: #e4e3d8;
  --color-primary: #3d3879;
  --color-primary-light: #7a73d1;
  --color-primary-dark: #342f72;

  --font-primary: "Roboto", sans-serif;
}

@layer utilities {
  @keyframes appearFromAbove {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-appearFromAbove {
    animation: appearFromAbove 0.5s ease-out;
  }
}
