---
import "../styles/global.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>David Castro | SWE</title>
    <meta
      name="description"
      content="David Castro's personal portfolio. I am a software engineer passionate about building scalable and efficient software solutions."
    />
    <meta name="author" content="David Castro" />
    <meta
      name="keywords"
      content="David Castro, Software Engineer, Portfolio, Web Development, Programming"
    />
    <script
      data-goatcounter="https://davidcs9.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"></script>
  </head>
  <body
    class="min-h-screen bg-background text-black flex flex-col font-primary relative"
  >
    <div class="fixed inset-0 bg-[url('../assets/concrete-wall.png')] z-[-2]">
    </div>
    <div class="fixed inset-0 z-[-1] bg-background/40"></div>
    <div class="p-6 md:p-60 mt-4 mb-8 md:pt-4 max-w-[1400px] mx-auto">
      <Header />
      <slot />
    </div>
  </body>
</html>
